<div class="container">

    <div class="table-responsive mw-100">

        <div class="row w-100">
            <div class="col-12">
                <span class="float align-baseline">
                    <p>This project has been developed by Rafael Yates.</p>
                </span>
            </div>
        </div>

        <hr />

        <div class="row w-100">
            <div class="col-12">
                <span class="float align-baseline">
                    <h6>Follow me!</h6>
                </span>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-4">
                <span class="float">
                    <a href="https://www.facebook.com/rafael.yates">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </span>
            </div>

            <div class="col-4">
                <span class="float">
                    <a href="https://www.instagram.com/rafayates">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </span>
            </div>

            <div class="col-4">
                <span class="float">
                    <a href="https://www.linkedin.com/in/rafael-yates-2a2bb396">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>

    </div>

</div>
