<div class="container-fluid">

    <div *ngIf="user; else showLogin">

        <div class="row mt-1 align-items-center">
            <div class="col">
                <h6>Hi {{ user.displayName }}</h6>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn btn-outline-dark" (click)="logOut()">Sign out!</button>
            </div>
        </div>

        <app-header></app-header>

        <div class="content flex-fill">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </div>

    <ng-template #showLogin>
        <div class="row mt-1 align-items-center">
            <div class="col">
                <h6>Faça o login!</h6>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn btn-outline-dark" (click)="logIn()">Login with Google!</button>
            </div>
        </div>
    </ng-template>

</div>
