<div class="container-fluid">

    <div *ngIf="user; else showLogin">

        <div class="row mt-1 align-items-center">
            <div class="col">
                <h6>Hi {{ user.displayName }}</h6>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn btn-outline-dark" (click)="logOut()">Sign out!</button>
            </div>
        </div>

        <app-header></app-header>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <ng-template #showLogin>
        <div class="content login">
            <div class="row align-items-center">
                <div class="col-md-6 text-center">
                    <h6>Authentication:</h6>
                </div>
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn btn-outline-dark"
                        (click)="logIn()">Login with Google!</button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </ng-template>

</div>
